@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@200,300;400;500;600;700;800;900&display=swap');

:root {
  --background: #835137;
  --foreground: #ffffff;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-display: 'Playfair Display', serif;

  /* ----Custom Screen Breakpoint----  */
  --breakpoint-*: initial;

  --breakpoint-xs: 600px;
  --breakpoint-sm: 900px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1500px;
  --breakpoint-xl: 1920px;

   --animate-slide-left: slide-left 12s linear infinite;

  @keyframes slide-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-140.8%); }
  }
}

@layer base {
  html {
    @apply font-display;
    /* Or alternatively: font-family: var(--font-display); */
  }
  
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Playfair Display', serif;
}

* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
}

