.collaborate-form-main {

    form {

        .blank-div {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }

        .phone-input {
            position: relative;
            --PhoneInputCountryFlag-height: 1.4rem;
            --PhoneInputCountryFlag-color: #000;
            --PhoneInputCountrySelectItem-color: #000;
            /* Set your desired color */
            // --PhoneInputCountryFlag-backgroundColor--loading: transparent;
            // --PhoneInputCountryFlag-borderColor: rgba(0, 0, 0, 0.5);
        }


        textarea,
        input {
            color: #000000;
            padding: 0.8em;
            background-color: #fff;

        }
    }

}